<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap/css/bootstrap-theme.min.css">


    <script type="application/javascript" src="{{ STATIC_URL }}js/jQuery/jQuery-2.1.4.min.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}css/bootstrap/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}js/marked.min.js"></script>

    {% block static_content %}

    {% endblock %}

    {% block head_extra %}

    {% endblock %}
</head>
<body>
    <!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'posts:index' %}">Home</a></li>
            {% block post_detail_link %}

            {% endblock %}

            {% if not request.user.is_authenticated %}
                <li class="pull-right"><a href="{% url 'register' %}">Register</a></li>
                <li class="pull-right"><a href="{% url 'login' %}">Login</a></li>
            {% else %}
                <li class="pull-right"><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ol>

        <div class="col-md-offset-2 col-md-8">
            {% if messages %}
                <div class="messages">
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>

                </div>
            {% endif %}
        </div>


        {% block content %}

        {% endblock %}
    </div>

    <script type="application/javascript">
        $(document).ready(function() {
            $('.content-markdown').each(function() {
                var content = $(this).text();
                //console.log(content);
                var markedContent = marked(content);
                //console.log(markedContent);
                $(this).html(markedContent);
            });

            $('.content-markdown img').each(function() {
                $(this).addClass('img-responsive');
            });

            $('.comment-reply-btn').click(function(e) {
                e.preventDefault();

                $(this).parent().next('.comment-edit').slideUp(400);

                $(this).parent().next().next('.comment-reply').fadeToggle();
            });

            $('.comment-edit-btn').click(function(e) {
                e.preventDefault();

                $(this).parent().next().next('.comment-reply').slideUp(400);

                //$(this).parent().next('.comment-edit').find('form.comment-edit-form').attr('action', $(this).attr('href'));

                $(this).parent().next('.comment-edit').fadeToggle();
            });
        });
    </script>
</body>
</html>